@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  overflow-x: hidden;
  background-color: #1d1d2f;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  padding-top: 20px;
}

.header a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
  color: #fff;
  cursor: pointer;
}
.header a:hover {
  color: #ff6464;
  border-bottom: 1px #ff6464 solid;
  transition: 0, 9s;
  padding-top: 5px;
}

.presentation {
  display: flex;
  width: 70vw;
  justify-content: space-evenly;
  margin: 175px auto 0;
}

.presentation h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  padding-bottom: 20px;
  color: #fff;
}
.animation {
  color: #ff6464;
  font-size: 40px;
}
.presentation p {
  width: 500px;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
.my-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-redes {
  overflow-y: hidden;
}
.my-img .icon-redes img {
  margin-top: 30px;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  transition: 0.5s;
}
.my-img .icon-redes img:hover {
  transform: rotate(360deg);
}
.img-presentation {
  width: 350px;
  height: 343px;
  border-radius: 50%;
  transition: 0.3s;
}
.img-presentation:hover {
  overflow: hidden;
  border: 10px solid #ff6464;
  box-shadow: 8px 8px 13px #e1d1d1;
  transform: scale(0.9);
}

.button-presentation {
  margin-top: 38px;
  width: 288px;
  height: 47px;
  background-color: #ff6464;
  border: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
}
.button-presentation:hover {
  color: #262626;
  font-size: 22px;
}

.section-projects {
  margin: 100px auto 50px auto;
}

.section-projects h2 {
  font-size: 35px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
.main-projects {
  width: 70vw;
  margin: 0 auto;
}
.my-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 21px;
}
.my-projects img {
  height: 70%;
  width: 100%;
  border-radius: 5px;
}

.my-projects > div {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 350px;
  width: 33%;
  margin: 0 0 20px 0;
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  overflow-y: hidden;
}
.my-projects div i {
  color: #fff;
  padding: 0 10px;
  font-size: 25px;
  border: none;
}
.projects-icon {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  border: none;
}
.my-projects > div:hover {
  border: 2px solid #fff;
  transition: 0.9s;
}

.my-projects h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0px;
  text-align: center;
  color: #fff;
  font-family: "Itim", cursive;
}
.my-projects h3:hover {
  color: #ff6464;
}

.section-skills {
  width: 90vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 130px;
  overflow-y: hidden;
}
.section-skills h2 {
  font-size: 35px;
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
  font-family: "Ubuntu", sans-serif;

  flex-wrap: wrap;
}
.section-skills img {
  padding: 0 25px;
  transition: 0.5;
  width: 110px;
  height: 55px;
}
.section-skills img:hover {
  transform: scale(1.3);
}

footer {
  width: 50vw;
  margin: 0 auto;
  border-top: 2px solid #fff;
  margin-top: 150px;
  margin-bottom: 20px;
}
footer p {
  text-align: center;
  width: 100%;
  color: #fff;
  padding-top: 20px;
}

@media (max-width: 1350px) {
  .presentation {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    margin-top: 30px;
  }
  .presentation h1 {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 35px;
  }
  .presentation p {
    font-size: 20px;
    text-align: center;
  }
  .presentation img {
    width: 300px;
    height: 300px;
    margin: 0 auto 36px;
  }
  .presentation button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .main-projects {
    width: 85vw;
    margin: 0 auto;
  }
  .my-projects > div {
    width: 49%;
  }
  .skills {
    height: 350px;
  }

  footer {
    width: 328px;
  }
}

@media (max-width: 835px) {
  .main-projects {
    width: 90vw;
    margin: 0 auto;
  }
  .my-projects > div {
    width: 100%;
    margin: 0 0 0 0;
  }
}
@media (max-width: 700px) {
  .header {
    justify-content: space-around;
  }
  .header a {
    font-size: 25px;
    line-height: 10px;
  }
  .skills img {
    margin-top: 35px;
  }
  .section-skills h2 {
    padding-bottom: 15px;
  }
}
@media (max-width: 500px) {
  .header a {
    font-size: 19px;
    line-height: 10px;
  }
  .presentation p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 390px) {
  .header a {
    font-size: 15px;
    line-height: 10px;
  }
}

.header,
.presentation,
.section-projects,
.section-skills,
#redes {
  visibility: hidden;
}
